root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true

[*.{cs}]
indent_size = 4

[*.js]
indent_size = 2
insert_final_newline = true

[{package.json}]
indent_size = 2