@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<title>AspNet5DemoApp</title>
		<environment names="Production">
			<link rel="stylesheet" href="/styles.css">
		</environment>
	</head>
	<body>
		<div class="container">
			<h3>Values from server:</h3>
			<ul class="list-group js-result">
				<li class="loading">Loading...</li>
			</ul>
		</div>
		<environment names="Development">
			<script src="http://localhost:3000/bundle.js"></script>
		</environment>
		<environment names="Production">
			<script src="/bundle.js"></script>
		</environment>
	</body>
</html>